
/*导航*/
.tNav{height:4rem; line-height: 4rem;  }
.tNav #navList>div{position: relative;}
.tNav #navList>div.rent{ color: #FFCC19; border-bottom: 2px solid #FFCC19;width:100%;box-sizing: border-box;  bottom:1px; left:0px; text-align: center; font-size:1.3rem;}
/*搜索*/
.search_button{background-color: #fff;padding: 1rem 2rem; margin-top: .5rem; }
.search_button{display: block;}
.search_button a{display: block;}
.search_button img{width: 100%;}
/*banner和图片轮播*/
.banner a{display: block;width:100%;font-size: 0;}
.banner img{width:100%;}
/*首页标题样式*/
.gather_tit{text-align: center;}
.gather_tit, .gather_tit h3 {  height: 3.5rem;  line-height: 3.5rem; background: #fff;  position: relative;  }
.gather_tit h3 {display: inline-block;  padding: 0 20px;  font-size: 1.2rem;  color: #333; font-weight: 600; }
.gather_tit h3 b {  position: absolute;     right: .5rem; top: 0;font-size:.8rem;display: inline-block;}
/*喜欢宝贝和推荐产品，搜索布局*/
.pre-list {list-style: none;  padding: 0 .5rem;overflow: hidden;  }
.pre-list-2 li {width: 50%;padding: 0 .5rem; float: left; overflow: hidden;  }
.pre-item { overflow:hidden;  background: #fff; }
.pre-item a {display: table-cell;width: 14.5rem;  height: 14.5rem;text-align: center;vertical-align: middle;overflow: hidden;  }
.pre-img {background: #fff; width: 100%;height: 100%;}
.pre-info{ padding:0.5rem ; background: #fff;   overflow: hidden;}
.pre-price {font-size:1.3rem;color: #ec4747;position: relative;}
.pre-subtitle {margin-bottom: 5px;font-size:1.2rem;color: #535353;overflow: hidden; height: 2rem;line-height: 2rem; }
.pre-price span em{font-size: 1.1rem; }
.payment{font-size: 1rem; color: #aaa;}
/*产品列表*/
.faxian { position: relative; margin:1rem 0;height: 7rem; padding: 1.4rem 1rem; font-size: 1.3rem; color: #5F5F5F;  background: #fff;}
.faxian dt img{  width: 4rem; height: 4rem; border-radius: 100%; margin-right:1.5rem;}
.faxian h3{font-size: 1.3rem; color: #3c3c3c;    width: 16rem;}
.faxian dd{width:10rem;}
.faxian h3 span img,.faxian h3 img{display: inline-block; margin-top:.1rem; float: left; margin-right:.5rem; background-size:1.5rem 1.5rem; height:1.5rem; width: 1.5rem; }
.faxian .more{float: right;  display: inline-block;}
.faxian dd p{margin-top:.2rem;  }
.faxian dd p span{font-size: 1.1rem; margin-right:1rem;color: #878787;}
.faxian em{position: absolute; right:1rem; top:2.4rem; display: inline-block; width:5rem; text-align: center;border:1px solid #878787;  border-radius:5px; height:2.4rem; line-height: 2.4rem; font-size: 1.1rem;}
.faxian em i{width:100%; height:100%; display:inline-block;}
.faxian .noLine{border:none !important; font-size:1.1rem; color:#aaa; top:1.4rem;}
