/*订单列表*/
nav{ position: fixed; width: 100%; left: 0; top: 0; height: 4rem; line-height: 4rem; border-bottom: 1px solid #EFEFEF; background: #fff; z-index: 2;}
nav a{ display: inline-block; font-size: 1.3rem; color: #3C3C3C; text-align: center; letter-spacing: 1px;}
nav a.on{ color: #EC4747; border-bottom: 2px solid #EC4747;}
nav.nav2 a{ width: 50%;}
nav.nav3 a{ width: 33.33%;}
nav.nav4 a{ width: 25%;}
nav.nav5 a{ width: 20%;}

.box{ margin-top: .5rem; background: #fff;}
.box h2{ position: relative; height: 3.5rem; padding: 0 1.5rem; line-height: 3.5rem; font-size: 1.2rem;}
.box h2 i{ display: inline-block; vertical-align: top;}
.box h2 i.icon-zhankai-copy{ font-size: 1rem; color: #979797;}
.box h2 a{ display: inline-block; max-width: 70%; height: 3rem; color: #3C3C3C; overflow: hidden; text-overflow: ellipsis; word-break: break-all; white-space: nowrap;}
.box h2 em{ position: absolute; right: 1.5rem; display: block; top: 0;}
.box ul li{ position: relative; height: 10rem; margin-bottom: .5rem; padding: 1.5rem 1.5rem 1.5rem 9.5rem; background: #FAF9FB;}
.box ul li:last-child{ margin-bottom: 0;}
.box ul li img{ position: absolute; top: 1.6rem; left: 1.5rem; width: 7rem; height: 7rem; border-radius: 5px;}
.box ul li strong{ font-size: 1.2rem; color: #3C3C3C; word-break: break-all;}
.box ul li p{ margin-top: .5rem; font-size: 1.2rem;}
.box ul li p span{ color: #3C3C3C;}
.box ul li p em{ float: right; color: #878787;}

.dTotal{ height: 4rem; line-height: 4rem; padding: 0 1.5rem; font-size: 1.1rem; color: #3C3C3C; text-align: right; background: #fff;}
.dTotal span{ font-size: 1.5rem; color: #EC4747;}

.dOperate{ height: 4.5rem; text-align: right; border-top: 1px solid #EFEFEF; background: #fff;}
.dOperate a{ display: inline-block; width: 7rem; height: 2.5rem; line-height: 2.5rem; margin: 1rem .5rem; font-size: 1.1rem; color: #878787; text-align: center; border: 1px solid #878787; border-radius: 5px;}
.dOperate a.qufukuan,.dOperate a.querenshouhuo{ color: #fff; border: 1px solid #EC4747; background: #EC4747;}

/*订单详情*/
.dTop{ padding: 2.2rem 1.5rem 2rem 1.5rem; background: #EC4747;}
.dTop .dTopL i{ margin-right: 1rem; font-size: 3rem;}
.dTop > div{ display: table-cell; vertical-align: middle; font-size: 1.1rem; color: #fff;}
.dTop > div span{ font-size: 1.5rem;}
.dTop > div p{ margin-top: .3rem;}

.dAddress{ position: relative; font-size: 1.2rem; background: #fff;}
.dAddress i.icon-dizhi{ margin-right: 1rem; font-size: 3rem; color: #8E9DB0; vertical-align: middle;}
.dAddress i.icon-zhankai-copy{ color: #979797;}
.dAddress .dAddressHave{ display: block; padding: 1rem 1rem .8rem 1rem;}
.dAddress .dAddressHave > div{ display: table-cell; vertical-align: middle; text-align: left;}
.dAddress .dAddressHave > div.dAddressL{ width: 10%;}
.dAddress .dAddressHave > div.dAddressC{ line-height: 2rem;}
.dAddress .dAddressHave > div.dAddressR{ width: 8%; text-align: right;}
.dAddress .dAddressHave > div em{ color: #3C3C3C;}
.dAddress .dAddressHave > div span{ color: #878787; word-break: break-all;}

.dAddress .dAddressNo{ position: relative; display: block; margin-top: .3rem; padding: .7rem 1rem .5rem 1rem; color: #3C3C3C; vertical-align: middle;}
.dAddress .dAddressNo i.icon-zhankai-copy{ position: absolute; right: 1rem; top: 1.6rem;}

.sundry{ height: 4rem; line-height: 4rem; padding: 0 1.5rem; font-size: 1.1rem; color: #5F5F5F; border-bottom: 1px solid #EFEFEF; background: #fff; overflow: hidden;}
.sundry span{ float: right;}
.sundry input{ width: 23.3rem; height: 4rem; line-height: 4rem; margin-left: 1rem; color: #878787; border: none;}

.dElse{ margin-top: .5rem; padding: .7rem 1.5rem .5rem 1.5rem; font-size: 1.2rem; color: #878787; line-height: 2rem; background: #fff;}

.dScanCode{ position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 9991;}
.dScanCode div.bb{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.6); z-index: 9992;}
.dScanCode div.cc{ position: absolute;left: 50%; top: 50%; width: 92%; padding-bottom: 2rem; text-align: center; background: #F9F9F9; border-radius: 5px; overflow: hidden; -webkit-transform: translate(-50%,-50%); z-index: 9993;}
.dScanCode h2{ position: relative; height: 5rem; line-height: 5rem; margin-bottom: .5rem; background: #FAF9FB;}
.dScanCode h2 i{ position: absolute; right: .3rem; width: 4rem; font-size: 1.6rem; color: #979797; text-align: center;}
.dScanCode p{ position: relative; height: 5rem; padding: 0 1.5rem; font-size: 1.2rem; color: #5F5F5F; text-align: left; line-height: 5rem; background: #fff;}
.dScanCode p label,.dScanCode p i{ position: absolute;}
.dScanCode p i{ right: .3rem; width: 4rem; font-size: 2rem; color: #8E9DB0; text-align: center;}
.dScanCode p input{ width: 100%; line-height: 5rem; padding: 0 3rem 0 6rem; font-size: 1.2rem; color: #5F5F5F; border: none;}
.dScanCode a{ display: inline-block; width: 95%; height: 4rem; margin-top: 6rem; line-height: 4rem; font-size: 1.5rem; color: #fff; letter-spacing: 2px; text-align: center; border-radius: 5px; background: #EC4747;}

.dfixed{ position: fixed; left: 0; bottom: 0; width: 100%; height: 4.8rem; line-height: 4.8rem; font-size: 1.3rem; text-align: center;}
.dfixed a{ display: inline-block; width: 100%; letter-spacing: 1px;}
.dfixed.dfixed2 a{ width: 50%;}
.dfixed.dfixed3 a{ width: 33.33%;}
.dfixed a.yanchangshouhuo,.dfixed a.quxiaodingdan{ color: #878787; background: #FAF9FB; border-top: 1px solid #EFEFEF;}
.dfixed a.chakanwuliu{ color: #fff; background: #5F5F5F; border-top: 1px solid #EFEFEF;}
.dfixed a.querenshouhuo,.dfixed a.qufukuan,.dfixed a.tixingfahuo,.dfixed a.qufahuo{ color: #fff; background: #EC4747; border-top: 1px solid #EC4747;}

a.goHome{ position: fixed; left: 1.5rem; bottom: 6rem; width: 4.5rem; height: 4.5rem;}
a.goHome svg.icon{ width: 4.5rem; height: 4.5rem;}

